.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 50%, hsla(212, 93%, 49%, 1) 100%);
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.classBox {
  margin: 5px;
  max-width: 140px;

  background: rgb(227, 227, 241);
  box-shadow: 3px 5px 15px -4px #6B6B6B;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hoursBoxes {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 0 0 10px 10px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
